- button_path = local_assigns[:button_path]
- learn_more_merge_request_url = help_page_url('user/project/merge_requests/creating_merge_requests')

- if show_video_component?(@project)
  .gl-text-center.gl-empty-state
    %iframe{ class: 'video-container gl-h-auto gl-w-full',
      src: 'https://www.youtube-nocookie.com/embed/muozG1gyOqg?si=TondW4RLypjd-aZz',
      title: 'Creating and submitting a merge request - The basics',
      frameborder: '0',
      allow: 'accelerometer; encrypted-media; gyroscope;',
      sandbox: 'allow-scripts allow-same-origin allow-presentation',
      allowfullscreen: true }

    %h4.gl-font-size-h-display.gl-max-w-75.gl-m-auto.gl-pt-8
      = _('A merge request (MR) is a proposal to incorporate changes from a source branch to a target branch.')
    %p.gl-max-w-75.gl-m-auto.gl-pt-4.gl-pb-5
      = _('When you open a merge request, you can visualize and collaborate on the changes before merge.')
    .gl-display-flex.gl-flex-direction-column.gl-sm-flex-direction-row.gl-justify-content-center.gl-gap-3
      - if button_path
        = link_button_to _('Create a new merge request'), button_path,
          title: _('Create a new merge request'),
          id: 'new_merge_request_link',
          variant: :confirm,
          data: { testid: "new-merge-request-button", event_tracking: 'click_new_merge_request_empty_list' }
      = link_button_to _('Learn more about merge requests'), learn_more_merge_request_url,
        title: _('Learn more about merge requests'),
        id: 'learn_more_merge_request_link',
        target: '_blank'
- else
  = render_ce 'shared/empty_states/empty_merge_requests_without_filters', button_path: button_path
